body{
    background-image: url("/img/main_page.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: whitesmoke;
    color: #c1c6ce;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.main-nav {
    background-color: burlywood;
    color: orange;
}

.main-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.main-nav ul li{
    text-decoration: none;
    color: rgb(53, 186, 48);
    float: left;
    padding: 16px;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1px solid black;
    transition: background-color 0.2s;

}

.main-nav ul li a:link{
    color:rgb(53, 186, 48);
    text-decoration: none;
}

.main-nav ul li a:visited{
    color: rgb(53, 186, 48);
    text-decoration: none;
}

.main-nav ul li:hover{
    background-color: chartreuse;
}

.main-title{
    text-align: center;
    font-size: 1.4rem;
}

.main-text{
    font-size: 1.2rem;
}

.image img{
    width: 50%;
    height: auto;
}

.social-border{
    padding: 20px;
    font-size: 50px;
    text-decoration: none;
    color: #333;
    text-align: center;
    margin: 5px 2px;
    border-radius: 50%;
}

.contact-info{
    color: #c7ced7;
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: none;
}

.contact-info a:link{
    text-decoration: none;
    color: #333333;
}

.contact-info a :visited {
    text-decoration: none;
}

.link-colour{
    color: #0a53be;
}
