body{
  /*background-image: url("/img/main_page.jpg");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  color: #c1c6ce;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.main-nav {
  background-color: burlywood;
  color: orange;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.main-nav ul li{
  text-decoration: none;
  color: rgb(53, 186, 48);
  float: left;
  padding: 16px;
  text-align: center;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
  transition: background-color 0.2s;

}

.main-nav ul li a:link{
  color:rgb(53, 186, 48);
  text-decoration: none;
}

.main-nav ul li a:visited{
  color: rgb(53, 186, 48);
  text-decoration: none;
}

.main-nav ul li:hover{
  background-color: chartreuse;
}

.main-title{
  text-align: center;
  font-size: 1.6rem;
}

.main-text{
  font-size: 1.4rem;
  padding-left: 10px;
  padding-right: 10px;
}

.sub-text{
  font-size: 1.4rem;
}


.image img{
  max-width: 60%;
  height: auto;
}

.social-border{
  padding: 20px;
  font-size: 50px;
  text-decoration: none;
  color: #333;
  text-align: center;
  margin: 5px 2px;
  border-radius: 50%;
}

.contact-info{
  color: #c7ced7;
  font-size: 20px;
  margin-bottom: 10px;
  text-decoration: none;
}

.contact-info a:link{
  text-decoration: none;
  color: #333333;
}

.contact-info a :visited {
  text-decoration: none;
}

.link-colour{
  color: #0a53be;
}

.fade-in{
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.show{
  opacity: 1;
  transform: translateY(0);
}

.game-link{
  font-size: 1.8rem;
}

.grid-container {
  --grid: 10rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  perspective: 100rem;
  animation: rotate 100s linear infinite forwards;
  z-index: -1;

  .plane {
    --dir: 1;
    width: 300%;
    height: 150%;
    min-height: 70rem;
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: bottom center;
    transform: translateX(-50%) rotateX(85deg);

    &:last-child {
      --dir: -1;
      top: 0;
      transform-origin: top center;
      transform: translateX(-50%) rotateX(-85deg);

      & > * {
        &::after {
          background-image: linear-gradient(to top, rgba(0, 0, 0, 255) var(--grid), rgba(0, 0, 0, 0));
        }
      }
    }

    & > * {
      transform-style: preserve-3d;
      height: 100%;
      width: 100%;
      position: absolute;

      &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      &::before {
        background-image: repeating-linear-gradient(to left, green, green 4px, transparent 4px, transparent var(--grid)),
        repeating-linear-gradient(to bottom, green, green 4px, transparent 4px, transparent var(--grid));
        animation: move 1s linear infinite forwards;
      }

      &::after {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 255) var(--grid), rgba(0, 0, 0, 0));
        z-index: 1;
        transform: translateZ(1px);
      }
    }

    .glow {
      filter: blur(1rem);
      z-index: 1;
      mix-blend-mode: plus-lighter;
    }
  }
}

@keyframes move {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(calc(var(--grid) * var(--dir)));
  }
}
